package  ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;

import java.util.Map;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.transaction.annotation.Transactional;
import ${mainPath}.common.pagination.PageQuery;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${classname}Service")
@Transactional(rollbackFor = Exception.class)
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao, ${className}Entity> implements ${className}Service {

    /**
    * 根据id删除
    * @param id id
    * @return 执行情况
    */
    @Override
    public Boolean delete(Long id) {
        //根据id修改
        ${className}Entity ${className}Entity = new ${className}Entity();
        ${className}Entity.setId(id);
        ${className}Entity.setVisible(false);
        return this.updateById(${className}Entity);
    }
}
